__pycache__/
*.py[cod]
*.pyc
logs/
*.log
bin
postgres/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.migrations/*
**/__pycache__/*
**/__pycache__
*/__pycache__
*/__pycache__/*
*__pycache__*
__pycache__
uploads/
static/
media/
# Runtime data
pids
*.pid
*.seed
*.pid.lock
setenv.sh

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

#.env
.venv

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

# nuxt.js build output
.nuxt

# Nuxt generate
dist/

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless

# IDE / Editor
.idea

/*/migrations
# virtualenv
.venv
venv/
ENV/

# Service worker
sw.*

# macOS
.DS_Store

# Vim swap files
*.swp
